#app {
    height: 100%;
    height: 100%;
}

.application {
    display: flex;
    flex-flow: column;
    height:100%;
}

.application__viewport {
    // width: 100vw;
    // height: 100vh;
    display: flex;
    flex: 1;
    justify-content: start;
    padding: 0 $m-size;
}

