.main-page {
    height: 100%;
    position: relative;
}

.main-page__items-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: absolute;
    overflow-y: scroll;
    height: 100%;
}

.main-page--no-results {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.main-page--no-results__message {
    font-size: 3.5rem;
    width: 75%;
    color: darken($dark-gray, 15%);
    text-align: center;
}