.materials-list {
    width: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.materials-list__title {
    text-align: center;
}

.materials-list--mats {
    background: $darker-gray;
}

.materials-list--mats__container {
    display: flex;
    justify-content: start;
}

.materials-list--mats__count {
    font-size: 2.2rem;
    color: $gray;
    margin: 0 $xs-size;
    text-align: right;
    min-width: 36px;

}

.materials-list--mats__display {
    display: flex;
    justify-content: start;
    align-items: center;
}

.materials-list--mats__icon {
    margin-right: $xs-size;
}

.materials-list--mats__name {
    flex-wrap: wrap;
}

.materials-list--no-mats {
    flex-grow: 1;
}

.materials-list--no-mats__message {
    text-align: center;
    color: darken($dark-gray, 15%);
    margin-top: 10rem;
    font-size: 1.6rem;
    font-weight: 700;
}