.materials-list {
    flex: 1;
    bottom: 0;
    right: 0;
    max-width: 24rem;
    margin-left: $xs-size;
    padding-right: $xs-size;

}

.materials-list__container {
    height: 100%;
    position: relative;
}

.materials-list__content {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    width: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: $xs-size;
}

.materials-list__title {
    text-align: center;
}

.materials-list--mats {
    background: $darker-gray;
}

.materials-list--mats__container {
    display: flex;
    justify-content: start;
}

.materials-list--mats__count {
    font-size: 2.2rem;
    color: $gray;
    margin: 0 $xs-size;
    text-align: right;
    min-width: 36px;

}

.materials-list--mats__display {
    display: flex;
    justify-content: start;
    align-items: center;

    a {
        color: inherit;
        text-decoration: none;
    }
}

.materials-list--mats__icon {
    margin-right: $xs-size;
}

.materials-list--mats__name {
    flex-wrap: wrap;
}

.materials-list--no-mats {
    flex-grow: 1;
}

.materials-list--no-mats__message {
    text-align: center;
    color: darken($dark-gray, 15%);
    margin-top: 10rem;
    font-size: 1.6rem;
    font-weight: 700;
}