$light-gray: #eee;
$gray: #ddd;
$dark-gray: #bbb;
$darker-gray: #666;

// Rarity Colors
$rarity-junk: #aaa;
$rarity-basic: #000;
$rarity-basic-inverse: #fff;
$rarity-fine: #62a4da;
$rarity-masterwork: #1a9306;
$rarity-rare: #fcd00b;
$rarity-exotic: #ffa405;
$rarity-ascended: #fb3e8d;
$rarity-legendary: darken(#4c139D, 10%);

$highlight: #057eff;
$dark-highlight: #0056b3;