.junk {
    color: $rarity-junk;
}

.basic {
    color: $rarity-basic;
}

.basic-inverse {
    color: $rarity-basic-inverse;
}

.fine {
    color: $rarity-fine;
}

.masterwork {
    color: $rarity-masterwork;
}

.rare {
    color: $rarity-rare;
}

.exotic {
    color: $rarity-exotic;
}

.ascended {
    color: $rarity-ascended;
}

.legendary {
    color: $rarity-legendary;
}

.junk-border {
    border: 1px solid $rarity-junk;
}

.basic-border {
    border: 1px solid $rarity-basic;
}

.fine-border {
    border: 1px solid $rarity-fine;
}

.masterwork-border {
    border: 1px solid $rarity-masterwork;
}

.rare-border {
    border: 1px solid $rarity-rare;
}

.exotic-border {
    border: 1px solid $rarity-exotic;
}

.ascended-border {
    border: 1px solid $rarity-ascended;
}

.legendary-border {
    border: 1px solid $rarity-legendary;
}

.button {
    background: $darker-gray;
    color: $gray;
    padding: $s-size 0;
    border: none;
    font-weight: 700;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1}
}